<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>62899042835-bu7b58tu5cibgjn8jdo29631g4pcqjl5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.62899042835-bu7b58tu5cibgjn8jdo29631g4pcqjl5</string>
	<key>API_KEY</key>
	<string>AIzaSyDDMbyLfCGuj9nnkMHYKcjhQ8IBy8VJHlA</string>
	<key>GCM_SENDER_ID</key>
	<string>62899042835</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>kr.ac.kumoh.sjjpl138.wheere</string>
	<key>PROJECT_ID</key>
	<string>wheere-abb78</string>
	<key>STORAGE_BUCKET</key>
	<string>wheere-abb78.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:62899042835:ios:4731afec5532301660dde6</string>
</dict>
</plist>